/* 

1. Imports & Includes
2. Grid
3. Header
4. Navigation
5. Ecommerce Basket
6. Feature & Sub Features
7. Ecommerce Product List
8. Ecommerce Product
9. Ecommerce Checkout
10. Main
11. Footer
12. Forms
13. Slideshow
14. Misc
15. Select Fix

*/

/* Imports & Includes */

@import "@{templateCommon}/basekit-bootstrap.less";
@tablet: ~"only screen and (max-width: 860px)";
@mobile: ~"only screen and (max-width: 650px)";

/* Grid */

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
    padding: 0 1.5rem;
}
    .grid {
        margin-left: -3%;
        max-width: 105%;
        [class*="col-"] {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            vertical-align: top;
            margin-left: 3%;
            margin-right: -.25em;
            overflow: hidden;
            *overflow: visible;
        }
        .col-100 { width: 97%; }
        .col-60 { width: 63.666666666%}
        .col-50 { width: 47%; }
        .col-30 { width: 30.36%; }
        .col-20 { width: 17.07%; }
        .col-15 { width: 13.5%; }
        .col-10 { width: 8.56%; }
    }
    
@media @mobile {
    .grid {
        margin-left: 0;
        max-width: none;
        [class*="col-"] {
            width: 100%;
            margin-left: 0;
            display: block;
        }
    }
}

/* Header */

.bk-header {
    padding: 50px 0 35px;
    @media @tablet {
        padding-top: 30px;
    }
    .grid {
        [class*="col-"] {
            overflow: visible;
        }
        .col-30 {
            @media screen and (max-width: 1100px) {
                width: 20%;
            }
        }
        .col-50 {
            width: 50%;
            @media screen and (max-width: 1100px) {
                width: 58%;
            }
        }
        .col-15 {
            width: 10.5%;
            @media screen and (max-width: 1100px) {
                width: 12.5%;
            }
        }
    }
    .widget.companyname {
        padding-top: 12px;
        @media @mobile {
            width: 100%;
        }
        a {
            @media @tablet {
                font-size: bkscale(@font-swatch10-font-size, 0.9);
                padding-right: 30px;
            }
            @media @mobile {
                padding: 0;
                display: block;
                text-align: center;
            }
        }
    }
}

@media @tablet {
    .bk-header, .bk-footer {
        .grid {
            margin-left: 0;
            max-width: none;
            .col-30, .col-50, .col-15 {
                display: block;
                margin-left: 0;
                width: 100%;
            }
        }
    }
}

.widget.logo, .widget.companyname {
    display: inline-block;
}

.widget.logo {
    @media @mobile {
        display: block;
        text-align: center;
    }
}

body.edit {
    .widget {
        &.logo {
            img {
                border: 1px dashed red;
                margin: 0 0 2px;
            }
        }
    }
}

/* Navigation */

.widget {
    &.extendednavigation {
        display: inline-block;
		width: 100%;
        float: right;
        padding: 12px 0 0;
        @media @tablet {
            display: block;
            float: none;
            padding: 0;
        }
        ul {
            @media @tablet {
                padding: 20px 0;
            } 
        }
        ul {
            @media @tablet {
                padding-top: 20px;
            }
            li {
                @media @tablet {
                    border-bottom: 1px solid @color-swatch7;
                }
                a, span.text {
                    @media @tablet {
                        padding-left: 0;
                    }
                }
                &.folder {
                    .text {
                        color: @font-swatch6-color;
                    }
                    ul {
                       -webkit-box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.2);
                        -moz-box-shadow:    0px 3px 2px 0px rgba(50, 50, 50, 0.2);
                        box-shadow:         0px 3px 2px 0px rgba(50, 50, 50, 0.2); 
                    }
                    li:first-child a {
                        padding-left: 25px;
                        padding-top: 25px;
                        @media @tablet {
                            padding: 4px 20px;
                        }
                    }
                    li a {
                        padding: 0 25px 12px;
                        @media @tablet {
                            padding: 4px 20px;
                        }
                        span.text {
                            color: lighten(@font-swatch6-color, 25%);
                            &:hover {
                                color: @font-swatch6-color;
                            }
                        }
                    }
                }
            }
        }
        a.pull {
            @media @tablet {
                left: auto;
                right: 0;
                top: -30px;
            }
            @media @mobile {
                top: -90px;
            }
        }
    }
}

/* Ecommerce Basket */
  
.widget.ecombasket {
    display: inline-block;
    float: right;
    width: 100%;
    @media screen and (max-width: 860px) {
        float: left;
        margin: 25px 0 20px;
    }
    .ecombasket-pull {
        background-color: @color-swatch3;
        padding: 15px 0;
        width: 100%;
        @media @tablet {
            width: 100%;
            padding: 14px 10px;
            text-align: center;
        }
        &:hover {
            transition: background-color 0.5s ease;
        }
        p, .basket-count {
            color: @color-swatch1;
            @media @tablet {
                padding: 0;
                font-size: @font-swatch7-font-size;
                line-height: @font-swatch7-line-height;
                font-weight: @font-swatch7-font-weight;
                text-align: center;
            }
        }
        p:before {
            content: "";
            background-image: image('/images/basketicon-hover.png');
            background-repeat: no-repeat;
            display: inline-block;
            height: 16px;
            width: 24px;
            margin: 0 4px 0 0;
            position: relative;
            left: -5px;
            top: 3px;
        }
    }
   
    &.show-content .ecombasket-list-container {
        display: block;
    }
    .ecombasket-list-container {
        display: none;
        background-color: @color-swatch1;
        border: 3px solid @color-swatch4;
        color: @color-swatch1;
        text-align: left;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
        padding: 0 10px 15px;
        max-height: 350px;
        min-width: 250px;
        right: 0;
        overflow-y: scroll;
        position: absolute;
        z-index: 999;
        @media @tablet {
            max-height: 400px;
            width: 100%;
        }
        .ecombasket-total-wrap {
            border-bottom: 1px solid fade(@color-swatch5, 25%);
            border-top: 1px solid fade(@color-swatch5, 25%);
            padding: 5px 0;
            p {
                color: @color-swatch4; 
            }
        }
        .ecombasket-checkout-link {
            display: block;
            text-align: center;
        }
        ul {
            display: inline-block;
            padding: 0;
            width: 100%;
            li {
                width: 100%;
                list-style: none;
                float: left;
                border-bottom: 1px solid fade(@color-swatch5, 8%);
                padding: 1em 0;
                @media @tablet {
                    padding: 1.5em 0;
                }
                &:last-child {
                    border-bottom: 0;
                }
                .ecombasket-item-info .ecombasket-remove-button {
                    color: @color-swatch5;
                }
                span {
                    color: @color-swatch4;
                    font-size: bkscale(@font-swatch5-font-size, 0.95);
                }
            }
        }
    }
}

.nav-header .widget.ecombasket {
    float: right;
    margin-right: 2.5%;
    width: 250px;
    z-index: 2;
    .ecombasket-pull p,
    .ecombasket-pull p span {
        color:@color-swatch1;
    }
}

/* Feature & Sub Features */

.widget {
    &.feature {
        margin: 0 auto;
        max-width: 1400px;
        padding: 0 30px;
        .feature-bgimg {
            .content {
                padding: 60px 0;
                .spare {
                    @media @tablet {
                        padding: 0 30px;
                    }
                }
            }
            h2, h3 {
                color: @color-swatch1;
                text-align:center;
                @media @tablet {
                    max-width: 100%;
                }
            }
            h2 {
                font-family: @font-swatch1-font-family;
                font-size: @font-swatch1-font-size;
                line-height: @font-swatch1-line-height;
                padding:0;
            }
            h3 {
                font-size: @font-swatch5-font-size;
                line-height: @font-swatch5-line-height;
            }
            button.btn {
                background-color: @color-swatch1;
                color: @color-swatch4;
                display: block;
                margin: 15px auto 0;
                &:hover {
                    background-color: fade(@color-swatch1, 35%);
                }
            }
        }
    }
}

.widget.feature .feature-bgimg .content {
    background-color: fade(@color-swatch4, 15%);
}

/* Ecommerce Product List */

.widget {
    &.ecomproductslist {
        .productlist-display-form {
            padding: 12px 0 10px;
            margin: 10px 0 15px;
            display: inline-block;
            float: right;
            text-align: right;
            width: 65%;
            @media @tablet {
                display: block;
                margin-left: 0;
                float: left;
                text-align: left;
                width: 100%;
            }
            .form-group {
                margin-bottom: 10px;
                @media @tablet {
                    margin-bottom: 5px;
                    width: 100%;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .productlist-item-count {
            display: inline-block;
            float: left;
            margin-top: 15px;
            width: 25%;
            @media @tablet {
                display: block;
                margin-bottom: 10px;
                margin-top: 0;
                width: 100%;
            }
        }
        .productlist-display-form, .productlist-item-count {
            margin-left: 3%;
            div {
                display: inline-block;
                margin-right: 15px;
                @media @mobile {
                    display: block;
                }
                label {
                    margin-right: 6px;
                    @media @mobile {
                        display: block;
                        margin-bottom: 5px;
                    }
                    &:after {
                        content:":";
                        position: relative;
                    }
                }
            }
            select {
                font-size: bkscale(@font-swatch7-font-size, 0.96);
                border: 0;
                -webkit-border-radius: 0;
                border-radius: 0;
                height: 32px;
                -webkit-appearance: none;
                border: 1px solid lighten(@color-swatch5, 30%);
                padding: 4px 35px 4px 12px;
                background: image('/images/arrow-dropdown.png') 95% center no-repeat, -moz-linear-gradient(top, white 0%, #f3f3f3 100%);
                background: image('/images/arrow-dropdown.png') 95% center no-repeat, -webkit-linear-gradient(top, white 0%, #f3f3f3 100%);
                background: image('/images/arrow-dropdown.png') 95% center no-repeat, linear-gradient(to bottom, white);
                @media @tablet {
                    width: 97%;
                }
            }
        }
        .ecom-productslist-product {
            .ecom-productlist-info {
                text-align: center;
            }
            h2, h2 a {
                font-size: @font-swatch3-font-size;
                padding-bottom: 0.2em;
                padding-top: 25px;
            }
            span {
                color: @font-swatch2-color;
                font-family: @font-swatch2-font-family;
                font-size: bkscale(@font-swatch3-font-size, 0.93);
            }
        }
    }
}

/* Ecommerce Product */

.widget.ecomproduct {
    .ecom-product {
        .ecom-product-preview-image-wrap {
            height: 410px;
            @media @tablet {
                max-height: 350px;
            }
        }
        .ecom-product-image-list {
            li {
                height: 65px;
                width: 65px;
            }
        }
        .ecom-product-info {
            .ecom-product-title {
                color: @font-swatch2-color;
                font-size: @font-swatch2-font-size;
                line-height: @font-swatch4-line-height;
                font-weight: @font-swatch4-font-weight;
                font-family: @font-swatch4-font-family;
                @media @tablet {
                    padding-top: 1em;
                }
            }
            .ecom-product-price {
                color: fade(@font-swatch2-color, 80%);
                font-size: bkscale(@font-swatch2-font-size, 0.94);
                line-height: @font-swatch2-line-height;
                font-weight: @font-swatch2-font-weight;
                font-family: @font-swatch3-font-family;
            }
            .ecom-product-variation {
                padding: 1em 0;
                width: 70%;
                margin: 1.5em 0;
                @media @tablet {
                    padding: 0;
                    width: 100%;
                }
                label, select {
                    display: block;
                    width: 100%;
                }
                select {
                    font-size: @font-swatch5-font-size;
                    -webkit-appearance: none;
                    -moz-appearance: window;
                    appearance: none;
                    outline: none !important;
                    -moz-outline-style: none;
                    border: 3px solid fade(@color-swatch5, 25%);
                    position: relative;
                    background: transparent;
                    padding: 8px 15px;
                    -moz-border-radius: 0px;
                    -webkit-border-radius: 0px;
                    border-radius: 0px;
                    background-image: image('/images/arrow.png');
                    background-position: 96% center;
                    background-repeat: no-repeat;
                }
                .ecom-product-vartitle {
                    color: @color-swatch4;
                }
            }
            .ecom-product-cattag {
                background-color: transparent;
                span {
                   display: block;
                   a {
                        &:after {
                            content: ",";
                            position: relative;
                        }
                       &:last-child {
                            &:after {
                                display: none;
                            }
                       }
                    }
                }
                @media @tablet {
                    border-bottom: 1px solid @color-swatch7;
                }
            }
        }
        .btn {
            color: @color-swatch1;
            height: 50px;
            width: 70%;
            margin: 20px 0;
            position: relative;
            overflow: hidden;
            @media @tablet {
                width: 100%;
            }
            span.text {
                left: -10px;
                position: relative;
            }              
        }
        .ecom-product-long-description {
            color: @color-swatch5;
            padding-top: 20px;
            width: 100%;
            clear: both;
            @media @tablet {
                padding: 2em 0 0;
            }
        } 
    }
}

/* Ecommerce Checkout */

.widget {
    &.ecomcheckout {
        h2 {
            font-size: bkscale(@font-swatch2-font-size, 1.1);
            margin-top: 0.5em;
        }
        table {
            tr {
                th {
                    border-bottom: none;
                }
                .image-wrap {
                    height: 80px;
                    width: 80px;
                    @media @mobile {
                        height: 56px;
                        width: 56px;
                    }
                }
                td {
                    border-bottom: 1px solid lighten(@color-swatch5, 30%);
                }
            }
            .checkout-items {
                background-color: darken(@color-swatch1, 5%);
                td {
                    border-bottom: 25px solid white;
                    border-top: none;
                    padding: 1.5em 1.5em;
                    @media @mobile {
                        padding: 1.5em 0.5em;
                    }
                    &:nth-child(3) {
                        font-weight: @font-swatch10-font-weight;
                        padding-right: 1.5em;
                        @media @mobile {
                            padding: 1.5em 0.5em;
                        }
                    }
                }
                span, .checkout-amount {
                    color: @color-swatch4;
                }
            }
        }
        .delivery {
            padding: 2em 0;
            h3 {
                font-family: @font-swatch2-font-family;
                font-size: bkscale(@font-swatch2-font-size, 1.1);
                margin-bottom: 0.5em;
            }
            input {
                border: 2px solid fade(@color-swatch5, 25%);
            }
            select {
                font-size: @font-swatch5-font-size;
                -webkit-appearance: none;
                -moz-appearance: window;
                appearance: none;
                outline: none !important;
                -moz-outline-style: none;
                border: 3px solid fade(@color-swatch5, 25%);
                position: relative;
                background: transparent;
                color: @color-swatch5;
                padding: 8px 15px;
                -moz-border-radius: 0px;
                -webkit-border-radius: 0px;
                border-radius: 0px;
                background-image: image('/images/arrow.png');
                background-position: 98% center;
                background-repeat: no-repeat;
                @media @tablet {
                    background-position: 96% center;
                }
            }
        }
        .checkout-order-button {
            margin: 2em 0 1em;
        }
    }
}

/* Main */

div[role="main"] {
    padding: 20px 0;
}

/* Blog */

.blogpost, .blog-post-list {
    .blog-post-feature-image-wrap {
        line-height: 0;
        background-size: cover;
        background-position: center;
        margin: 20px 0 25px;
        width: auto;
        img {
            display: none;
        }
    }
}

.blog-post-list .blog-post-feature-image-wrap {
    height: 250px;
}

.blogpost .blog-post-feature-image-wrap {
    height: 350px;
}

/* Menu */

.menu {
    .menu-item-image-wrap {
        background-size: cover;
        background-repeat: no-repeat;
        height: 180px;
        margin: 0.25em 0 0.75em;
        background-position: center;
        img {
            display: none;
        }
    }
    .menu-item-nutritional-title {
        font-size: @font-swatch5-font-size;
    }
    .menu-section-item-dietary-props .dietary-icon {
        border: 1px solid darken(@color-swatch7, 5%);
        font-size: bkscale(@font-swatch5-font-size, 0.9);
        padding: 2px 5px;
    }
    .menu-subsection-promoted, .menu-items li.menu-item-promoted {
        background-color: lighten(@color-swatch7, 5%);
        padding: 3em;
    }
}

/* Footer */

.bk-footer {
    margin-top: 60px;
    @media @tablet {
        margin-top: 30px;
    }
    .container {
        border-top: 2px solid @color-swatch7;
        padding-bottom: 50px;
        padding-top: 60px;
        @media @tablet {
            padding-bottom: 40px;
            padding-top: 40px;
        }
    }
    .widget.companyname, .widget.companyaddress {
        display: block;
        text-align: center;
        p {
            color: @color-swatch4;
            display: inline-block;
            font-family: @font-swatch5-font-family;
            font-size: @font-swatch5-font-size;
            padding-right: 5px;
        }
    }
    .widget.signupform {
        .form-group {
            text-align: right;
            @media @tablet {
                text-align: center;
            }
        }
        fieldset {
            input {
                background: @color-swatch7;
                border: none;
                color: @color-swatch4;
                height: 50px;
                width: 50%;
                text-indent: 12px;
                &:focus, &:active {
                    color: @color-swatch5;
                }
                @media @tablet {
                    margin-top: 25px;
                    width: 65%;
                }
            }
            button {
                color: @color-swatch1;
                display: inline-block;
                position: relative;
                height: 50px;
                width: 65px;
            }
            label {
                display: none;
            }
        }
    }
    .form-group, .socialicons {
        padding-top: 0;
        @media @tablet {
            padding-top: 0;
            text-align: center;
        }
    }
}

/* Forms */

.widget {
    &.contactform {
        input, textarea {
            border: 2px solid fade(@color-swatch5, 25%);
        }
    }
    &.profile {
        form fieldset input {
            border: 2px solid fade(@color-swatch5, 25%);
        }
    }
    &.signupform fieldset {
        button {
            height: 45px;
            top: -1px;
            position: relative;
        }
        input {
            border: 2px solid fade(@color-swatch5, 25%);
        }
    }
    &.blogsearch {
        input {
            border: 2px solid fade(@color-swatch5, 25%);
            height: 45px;
        }
        button {
            background-color: @font-swatch7-background-color;
            border: 0;
            font-family: @font-swatch7-font-family;
            font-size: @font-swatch7-font-size;
            font-weight: @font-swatch7-font-weight;
            color: @font-swatch7-color;
            letter-spacing: inherit;
            padding: 5px 10px;
            margin: 1em 0;
            text-decoration: none;
            height: 45px;
        }
    }
}

/* Slideshow */

.widget.responsiveslideshow .slideshow-widget {
    background-color: lighten(@color-swatch7,1%);
    .btn-prev, .btn-next {
        text-indent: 1000px;
        overflow: hidden;
        height: 100px;
        width: 30px;
        top: 42%;
        margin-top: -15px;
        &:before {
            content: "";
            display: block;
            border: 5px solid transparent;
            position: absolute;
            top: 46px;
            left: 11px;
            width: 0;
            height: 0;
        }
    }
    .btn-next:before {
        border-left-color: @color-swatch2;
        left: 13px;
    }
    .btn-prev:before {
        border-right-color: @color-swatch2;
        left: 6px;
    }
    .btn-prev {
        left: 0;
    }
    .btn-next {
        right: 0;
    }
}

.widget.responsiveslideshow .slideshow-widget .btn-prev,
.widget.responsiveslideshow .slideshow-widget .btn-next,
.widget.responsiveslideshow .slideshow-widget .btn-play {
    background-color: fadeout(@color-swatch1, 30%);
}

.widget.responsiveslideshow {
    span.inner img {

    }
    .slideshow-widget .btn-play, .btn-prev, .btn-next {
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        -ms-transition: opacity .2s;
        transition: opacity .2s;
        opacity: .75;
    }
    &:hover {
        .slideshow-widget .btn-play, .btn-prev, .btn-next {
            &:hover {
                opacity: 1;
            }
        }
    }
    .content-wrapper {
        background: fadeout(@color-swatch1, 25%);
        text-shadow: none;
        .title {
            font-weight: @font-swatch3-font-weight;
            &:after {
                content: ":";
            }
        }
        .title, .description {
            color: @color-swatch5;
        }
        .title {
            padding-right: 0;
            padding-left: 6px;
        }
        .description {
            padding-left: 0;
        }
    }
}

.widget.responsiveslideshow .slideshow-widget-controls .dot {
    border-radius: 100%;
    border: none;
    background: @color-swatch7;
    &.selected, &:hover {
        background: @color-swatch3;
        border: none;
    }
}

.widget.responsiveslideshow:hover span.btn-play,
.widget.responsiveslideshow .slideshow-widget:hover .btn-play.pause {
    &:before, &:after {
        width: 8px;
        height: 26px;
        background: @color-swatch1;
        border: 0;
        top: 27px;
        left: 28px;
    }
    &:after {
        left: 42px;
    }
}

.widget.responsiveslideshow .slideshow-widget .btn-play {
    background: transparent;
    text-indent: -99999px;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: @color-swatch1;
        left: 32px;
        top: 31%;
        border-top-width: 15px;
        border-bottom-width: 15px;
    }
    &:hover {
        &:before, &:after {
            top: 31%;
        }
    }
}

/* Misc */ 

.widget {
    .socialicons span a {
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
    }
    .line {
        hr.line {
            background-color: lighten(@color-swatch5, 30%);
        }
    }
    &.gallery {
        margin-left: 0;
    }
}

/* Select Fix */

select::-ms-expand {
    display: none;
}
 .widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select,
    select {
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
}

.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select,
.widget.ecomcheckout .delivery select,
select {
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    position: relative;
    background-image: image('/images/arrow.png');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-position-x: 95%;
    background-position-y: 53%;
    margin-bottom: 12px;
    padding-right: 33px;
}