<header class="bk-header">
    <div class="container">
        <div class="flexbox">
            <div class="flex-1">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
                {{widget('companyname', 'companyname-header', {"business": "profile"})|raw}}
            </div>
            <nav class="flex-2">
                {{widget('extendednavigation', 'desktopnavigation', {"align":"center"})|raw}}
            </nav>
            <div class="flex-3">
                {{widget('ecombasket', 'ecombasket', {})|raw}}
            </div>
        </div>
    </div>
</header>