<header class="bk-header">
    <div class="container">
        <div class="grid">
            <div class="col-30">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
                {{widget('companyname', 'companyname-header', {"business": "profile"})|raw}}
            </div><!--end col-30-->
            <nav class="col-50">
                {{widget('extendednavigation', 'desktopnavigation', {})|raw}}
            </nav><!--end col-50-->
            <div class="col-15">
                {{widget('ecombasket', 'ecombasket', {})|raw}}
            </div><!--en col-15-->
        </div><!--end grid-->
    </div><!--end container-->
</header>